{% load static %}
<div class="content">
    <nav>
        <div class="navbar">
            <a href="{% url 'home' %}" class="logo">KharchaBook</a>
            <ul class="nav-links">
                {% if user.is_authenticated %}<li><a href="{% url 'home' %}">Home</a></li>{%endif%}
                {% if user.is_authenticated %}<li><a href="{% url 'add_expense' %}">Add Expense</a></li>{%endif%}
                {% if user.is_authenticated %}<li><a href="{% url 'expense_history' %}">Expenses History</a></li>{%endif%}
                {% if user.is_authenticated %}<li><a href="{% url 'profile' %}">Profile</a></li>{%endif%}
                {% if user.is_authenticated %}<li><a href="{% url 'logout' %}">Logout</a></li>{%else%}<li><a href="{% url 'login' %}">Login</a></li>{%endif%}
            </ul>
        </div>
    </nav>
</div>
  