{% extends 'base.html' %}

{% load static %}

{%block content%}

{% load crispy_forms_tags %}

<div class="container py-5">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Add new transaction</h3>
        <form id = "form" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            {% comment %} <div>
                <label>Name: <input type="text" /></lable>   
            </div>
            <div>
                <label>Amount: <input type="number" /></lable>   
            </div> {% endcomment %}
            <button type="submit">Add transaction</button>
        </form>
    </div> 
</div>

{% endblock %}