{% extends 'base.html' %}
{% load static %}

{% include 'includes/messages.html' %}
{% block content %}

{% comment %} <div class="content">
    <div class="container py-5 ">
        <h4>{{profile}}'s Balance</h4>
        <h1 id="balance">{{balance}}</h1>

        <div class="inc-exp-container">
            <div>
                <h4>Income</h4>
                <p id="money-plus" class="money plus">{{income}}</p>
            </div>
            <div>
                <h4>Expense</h4>
                <p id="money-minus" class="money minus">{{total_expense}}</p>
            </div>
        </div>

        <div class="container py-5">
            <h3 class="text-uppercase">Recent Transactions</h3>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-hover" id="myOrdersTable">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>                            
                        </tr>
                    </thead>
                    <tbody>
                    {% for expense in top_five_expense %}
                        <tr>
                            <td>{{ expense.name }}</td>
                            <td>{{ expense.amount}}</td>
                            <td>{{ expense.date}}</td>
                            
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>												
        </div>
    </div>
</div> {% endcomment %}
<!-- Page Wrapper -->
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">KharchaBook <sup>2.0</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Home</span></a>
                </li>
            {% endif %}
            <!-- Divider -->
            <hr class="sidebar-divider">

            {% if user.is_authenticated %}
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Profile </span></a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_expense' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Add Expense </span></a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'expense_history' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Expense History</span></a>
            </li>
            {% endif %}
            {% comment %} <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Logout</span></a>
            </li> {% endcomment %}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <li class="nav-item">
                                <a class="button button2" href="{% url 'logout' %}" role="button">Logout</a>
                            </li>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <li class="nav-item">
                                <a class="button button2" href="{% url 'login' %}" role="button">Login</a>
                            </li>
                        </li>
                        {% endif %}
                            <!-- Dropdown - User Information -->
                            {% comment %} <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div> {% endcomment %}
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!--MAIN BODY-->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <b><h1 class="h3 mb-0 text-gray-800">{{profile}}'s Dashboard</h1></b>
                    </div>

                    <!-- Content Row -->
                    
                        <div class="row">
                        
                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Expenses</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_expense}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Balance</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{balance}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Income</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{income}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- Content Row -->

                    <div class="container-fluid">

                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Recent Expenses</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <table class="table">
                                            <thead>
                                              <tr>
                                                <th scope="col">Expense ID</th>
                                                <th scope="col">Expense Name</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Date</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                            {% for expense in top_five_expense %}
                                              <tr>
                                                <td>{{expense.id}}</td>
                                                <td>{{expense.name}}</td>
                                                <td>{{expense.amount}}</td>
                                                <td>{{expense.date}}</td>
                                              </tr>
                                            {% endfor %}
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of Main Content -->           
{% endblock %}
